.tank {
            width: 200px;
            height: 300px;
            background-color: #f2f2f2;
            border: 2px solid #333333;
            position: relative;
            border-radius: 5% 5% 12% 12%;
        }

.water {
            width: 194px;
            height: 0;
            background-color: #3498db;
            position: absolute;
            bottom: 4px;
            left: 4px;
            transition: height 0.5s ease-in-out;
            border-radius: 5% 5% 15% 15%;
        }
body 
     {
        background-color: black;

     }
